body {
  background-color: white;
  color: #333;
  font-family: 'Cormorant Upright',serif;
  margin:0 auto;
}

/* header */

header {
  background-image: url(image/top-80.webp);
  background-size: cover;
  width: 100%;
  height:720px;
  padding:30px 0;
}

.header-top h1{
  text-align: center;
  font-size:120px; 
  width: auto;
  margin: 150px 0 0 0 ;
}

.header-bottom{
  background-color:rgba(77, 71, 71, 0.43);
  border-top:2px solid rgba(77, 71, 71, 0.7);
  border-bottom:2px solid rgba(77, 71, 71, 0.7);
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}


.header-bottom h1{
  float: left;
  margin: 0;
  padding-left: 30px;
  line-height: 70px;
  color: white;
 
}
.header-bottom a{
  text-decoration: none;
}

.page-list-item{
  display: inline-block;
  font-size:25px;
}

.header-bottom ul{
  margin: 0%;
  height: 70px;
}


.btn{
  color: white;
  padding: 0 20px;
  width:100%;
  text-decoration: none;
  list-style-type: none;
  line-height: 70px;
  display: block;
  transition: 0.5s;
}

.btn:hover{
  background-color:rgba(77, 71, 71, 0.7);
  font-size: 35px;
}

.scroll{
  width: 100%;
  text-align: center;
  
}


/* メイン内容 */

.main{
  margin:30px 50px;
  margin-top:70px;
}

.contents{
  width: 100%;
  height: auto;
  text-align: center;
  overflow: auto;
}

.main-box{
  margin:20px;
  width: auto;
  height: auto;
  overflow: auto;
}

.title{
  background-color:rgba(77, 71, 71, 0.7);
  color:white;
  text-align: center;
}

.title h2{
  font-size:30px;
  margin: 30px auto;
  display: inline;
}

/* bignews */
.bignews{
  text-align: center;
}

/* about main */

.about-box{
  width: 100%;
  text-align: center;
}

.details img{
  float: left;
  padding: 0 50px ;
}

.introduce{
  padding-top: 50px;
  width: 50%;
  float: right;
}

.introduce span{
  font-size: smaller;
  padding-left: 15px;
}

.introduce p{
  border-bottom: 1px solid rgba(77, 71, 71, 0.8);
}

/* days main */

.camera{
  width: 100%;
  display: flex;
  justify-content: center;
}

.camera p{
  padding-top:70px;
}

.days-item {
  width:32%;
  float: left;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid rgba(77, 71, 71, 0.8);
  margin-right: 10px;
  border-radius: 5px;
}

/* tontontimes */

.tontontimes {
  /* background-image: url(image/top.jpg);
  background-size: cover; */
  height: auto;
  width: 100%;
  color: white;
}

.tontontimes-title{
  font-size: larger;
  /* background-color: rgba(255, 254, 189, 0.8); */
  border-bottom:1px solid rgba(77, 71, 71, 0.7);
  padding: 5px;
  color: #333;
}

.tontontimes ul{
  padding: 0;

}

.tontontimes li{
  list-style-type: none;
  width: 33%;
  float: left;
  border: 1px solid rgba(77, 71, 71, 0.6);
  box-sizing: border-box;
}

.tontontimes a{
  display: block;
  line-height: 60px;
  text-decoration: none;
  color: white;
  background-color: rgba(77, 71, 71, 0.7);
  transition: 0.5s;
}

.tontontimes a:hover{
  background-color: rgba(255, 254, 189, 0.7);
  color: #333;
}

li .tt202008, li .tt202009, li .tt202010, li .tt202011, li .tt202012{
  background-color:rgba(77,71,71,0.5);
  pointer-events: none;
}


/* travel main */

.travel-links{
  display: flex;
}

.travel-link{
  position: relative;
  width: 100%;

}

.travel-link a{
  position: absolute;
  top: 0;
  left:0;
  text-decoration: none;
  line-height: 160px;
  text-align: center;
  width: 100%;
  color: #333;
}

.travelpic {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
}

.clowd{
  border: 2px solid #ffffff;
  box-sizing: border-box;
}

/* food main */

.food-main{
  display: flex;
}

.cooking-left,.cooking-right{
  width: 50%;
  margin:0 20px;
}

.cooking-left p,.cooking-right p{
  font-size: small;
}



.cooking-title h4{
  font-size: 30px;
  border-bottom: 2px solid rgba(77, 71, 71, 0.7);
  margin: 0 0 20px 0;
}

.sidelink{
  float: right;
  color: #333;
  text-decoration: none;
  border: 1px solid rgba(77, 71, 71, 1) ;
  padding: 0 10px;
}



/* links main */

.links {
  font-size:50px;
  color:rgba(77, 71, 71, 1);
  float: left;
  width: 33.333333%;
  text-align: center;
  padding-top: 30px;
  transition: 0.5s
  
}

.links:hover{
  border-bottom: 2px solid #333;
  font-size: 55px;
}

.link-main ul{
  list-style-type: none;
}
.link-main a{
  text-decoration: none;
}



/* footer   */
footer{
  background-image: url(image/top-80.webp);
  background-size: cover;
  text-align: center;
  color:white;
  height:120px;
}

footer p{
  margin:0;
  padding:20px;
}